@import "tailwindcss";
@import "@repo/ui/styles.css";
@source "../../../packages/ui/src";

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-family: Arial, Helvetica, sans-serif;
}
